<a href="https://colab.research.google.com/github/dantls/python-learning/blob/main/BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Carrega dados

In [5]:
import pandas as pd

data = pd.read_excel('/content/drive/MyDrive/dados.xlsx')

df_br = pd.DataFrame(data)

## Seleciona colunas

In [6]:
df_br.reset_index()

columns = ['Data de Fim da Consulta', 'Data de Início da Consulta', 'Link do Jogo','Turno','Estádio','Cidade' ]
df_br = df_br.drop(columns, axis=1)

df_mandante = df_br[(df_br['Série'] == 'A')][['Temporada', 'Mandante','Visitante','Gol Mandante','Gol Visitante','Série','Rodada','Resultado']]
df_visitante = df_br[(df_br['Série'] == 'A')][['Temporada','Mandante','Visitante','Gol Mandante','Gol Visitante','Série','Rodada','Resultado']]

## Calcula Resultado das partidas e Unindo os df

In [7]:
def result(x, y):
    if x < y: 
      return 0
    elif x > y:
      return 3
    else:
      return 1

df_mandante['Resultado'] = df_mandante.apply(lambda row: result(row['Gol Mandante'], row['Gol Visitante']), axis=1)
df_visitante['Resultado'] = df_visitante.apply(lambda row: result(row['Gol Visitante'], row['Gol Mandante']), axis=1)
frames =[df_mandante ,df_visitante ]
result = pd.concat(frames, keys=["Mandante", "Visitante"])

## Reseta o index

In [8]:
result = result.sort_index()
result = result.reset_index()

##Renomeio os index

In [9]:
result.rename( {'level_0': 'Jogo', 'level_1': 'Nro'}, axis=1, inplace=True)

##União dos dataframes

In [10]:
def news(x):
    if x['Jogo'] == 'Mandante':
      return x['Mandante']
    elif x['Jogo'] == 'Visitante': 
      return x['Visitante']

result['Time'] = result.apply(lambda row: news(row) , axis=1)

In [11]:
df_dados = result.loc[:][['Rodada','Temporada','Time','Resultado']].copy()

In [12]:
df_dados

      Rodada  Temporada                  Time  Resultado
0          1       2012         Vasco da Gama          3
1          1       2012                 Bahia          1
2          1       2012             Palmeiras          1
3          1       2012           Figueirense          3
4          1       2012           Corinthians          0
...      ...        ...                   ...        ...
6075      38       2019           Chapecoense          1
6076      38       2019                 Ceara          1
6077      38       2019  Athletico Paranaense          1
6078      38       2019                Gremio          0
6079      38       2019             Sao Paulo          3

[6080 rows x 4 columns]

In [13]:
df_dados[(df_dados['Rodada'] == 3)&(df_dados['Temporada'] == 2017)].sort_values(by=['Resultado'], ascending=False)

      Rodada  Temporada                  Time  Resultado
1920       3       2017           Botafogo-RJ          3
4968       3       2017           Corinthians          3
1923       3       2017             Sao Paulo          3
1926       3       2017                 Sport          3
4967       3       2017              Coritiba          3
1929       3       2017           Chapecoense          3
1921       3       2017         Vasco da Gama          3
4962       3       2017              Cruzeiro          3
4964       3       2017           Ponte Preta          1
1924       3       2017           Atletico-MG          1
1925       3       2017  Athletico Paranaense          1
4965       3       2017              Flamengo          1
4966       3       2017                Gremio          0
4960       3       2017                 Bahia          0
4963       3       2017             Palmeiras          0
4961       3       2017            Fluminense          0
1928       3       2017           Atletico-GO          0
1927       3       2017               Vitoria          0
1922       3       2017                Santos          0
4969       3       2017                  Avai          0